.button {
  display: inline-block;
  padding: 8px 32px;
  color: $white-color;
  border: 2px solid $primary-color;
  font-size: 14px;
  font-weight: 400;
  font-family: $font-roboto;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: transparent;
  transition: all 0.25s ease;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;

  &:hover {
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: $white-color;
  }

  &--inversed {
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: $white-color;

    &:hover {
      color: $primary-color;
      border: 2px solid $primary-color;
      background: transparent;
    }
  }

  &--rect {
    border-radius: 0;
  }
}
