body {
  background-color: $background-color;
  color: $white-color;
  font-family: $font-open-sans;
  position: relative;

  &:before {
    position: fixed;
    content: ' ';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url('#{$img-path}/background.jpg');
    opacity: 0.05;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}
