.detail {
  margin-bottom: 50px;

  &__list {
    margin-top: 20px;
  }

  &__list-button {
    background: transparent;
    padding: 0;
    border: none;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}
