.input {
  font-family: $font-open-sans;
  border: 1px solid rgba(110, 110, 110, 0.68);
  height: 35px;
  line-height: 40px;
  width: 100%;
  letter-spacing: 0.7px;
  font-size: 13px;
  font-weight: 100;
  color: $white-color;
  padding-left: 20px;
  padding-right: 20px;
  margin:3px 0 10px;
  background: transparent;
}
