$img-path: '/images/';

$primary-color: #fb802d;
$secondary-color: #f44336;
$background-color: #111111;
$white-diminished: rgba(255, 255, 255, 0.6);
$white-color: #fff;

$font-open-sans: 'Open Sans', sans-serif;
$font-roboto: Roboto, sans-serif;
