.list {
  display: flex;
  flex-flow: wrap;
  margin-left: -15px;
  margin-right: -15px;

  &__item {
    padding: 0 15px 15px;
    width: calc(100% / 4);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  &__item-image {
    max-width: 100%;
    margin-bottom: 10px;
  }

  &__item-text {
    text-transform: uppercase;
    min-height: 40px;
  }
}
